.circle {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 80px;
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  box-shadow: 4px 4px 10px black;
  border-radius: 100%;
  z-index: 10;
  transition: all 1s ease-in-out;
}

.work.circle::before {
  border: 8px solid #f44c4e;
}

.rest.circle::before {
  border: 8px solid #41b883;
}

.info-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.3;
  cursor: pointer;
  z-index: 80;
  transition: all 0.2s ease-in-out;
}

.info:hover {
  opacity: 1;
}

.timer {
  max-width: 300px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px aqua;
  display: flex;
  z-index: 100;
}

.button-container {
  height: 70px;
  width: 70px;
  border: 2px solid #f44c4e;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  border: none;
  background-color: #f44c4e;
  cursor: pointer;
  z-index: 100;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  height: 72px;
  width: 72px;
}

.icon {
  margin: 0;
  padding: 0;
  color: #32323e;
  height: 30px;
  width: 30px;
}

.settings {
  position: absolute;
  bottom: -50px;
  right: -50px;
}
/* .minutes {
}

.seconds {
} */
